// Original SaSS function credited to https://coderwall.com/p/nqxusa by Kushagra Gour // original idea credited to https://codepen.io/sarazond/pen/LYGbwj

//This function create multiple box-shadows based on the amount specificed in stars variable 

// My contribution was adjusting sizes, adding twinkle animation and changing direction and speed

@function multiple-box-shadow ($n){
  $value: '#{random(2000)}px #{random(20000)}px #FFF';

  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(20000)}px #FFF'}

  @return unquote($value)
}



$shadows-small:  multiple-box-shadow(2500);
$shadows-medium: multiple-box-shadow(1200);
$shadows-big:    multiple-box-shadow(500);


.hero-section{
  
  height: 100vh;
  background: radial-gradient(ellipse at top right , #0e1d25 -5%, #000000 100%);
  overflow: hidden;
}
    
#stars{
  position: absolute;
  left: -200px;
  top: -500px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation			: animStar 150s linear infinite;
  border-radius: 25px;
  
}
#stars::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: twinkle 100s infinite;
}
  
#stars2{
  position: absolute;
  left: -200px;
  top: -500px;
  width: 2px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 90s linear infinite;
  border-radius: 25px;
}
  #stars2::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: twinkle 25s infinite;
}
#stars3{
  
  background: transparent;
  width: 4px;
  height: 1px;
  position: absolute;
  left: -200px;
  top: -500px;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;
  border-radius: 25px;
} 
#stars3::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: twinkle 15s infinite;
  }
    
@keyframes animStar{
  from	{
    transform: translateX(0px)}
  to{	
    transform: translate(600px, -1000px)
}
}

@keyframes twinkle {
  0%   {opacity: 90%;}
  25%  {opacity: 60%;}
  50%  {opacity: 10%;}
  75%  {opacity: 35%;}
  100% {opacity: 75%;}
}


#moon{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
}
#crater1{
  position: relative;
  bottom: -5%;
  left: 25%;
  background-color: grey;
  box-shadow: inset 1px 1px 2px black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}
#crater1{
  position: relative;
  bottom: -25%;
  left: 25%;
  background-color: grey;
  box-shadow: inset 1px 1px 2px black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}

#crater1{
  position: relative;
  bottom: -15%;
  left: 25%;
  background-color: grey;
  box-shadow: inset 1px 1px 2px black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}
#crater2{
  position: relative;
  bottom: -15%;
  left: 25%;
  background-color: grey;
  box-shadow: inset 1px 1px 2px black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}
#crater3{
  position: relative;
  bottom: -15%;
  left: 25%;
  background-color: grey;
  box-shadow: inset 1px 1px 2px black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}

