

@function multiple-box-shadow ($n){
  $value: '#{random(2000)}px #{random(20000)}px #FFF';

  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(20000)}px #FFF'}

  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(1000);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(50);

header{
  
  height: 100vh;
  background: radial-gradient(ellipse at top right , #172429 0%, #000000 100%);
  overflow: hidden;
}
    
#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation			: animStar 50s linear infinite;
}
#stars::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
}
  
#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 50s linear infinite;
}
  #stars2::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
}
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 100s linear infinite;
} 
#stars3::after{
    content: " ";
    position: absolute;
    right: 500px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
    
@keyframes animStar{
  from	{
    transform: translateX(0px)}
  to{	
    transform: translateX(500px)
}
}