  
/* Universal selector to remove default margin and padding on page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(243, 7, 7, 0.918);
    flex-skrink: 2;
}

/* Main hero content code */



/*sets hero section to flex and background color */
.hero-section{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 8%;
}


/* Ajust Image Size and Margin */
.hero-section img{
    width: 250%;
    margin: 65% auto;
    
}
/*Adjust Hero h2 size and margin */
.hero-content h2{
    font-size: 1500%;
    margin-bottom: 3%;
}
/*Creates underline under main h2 */
.hero-content h2::after{
    content: "";
    display: block;
    border: .5px solid white;
    margin: 0 8%;
    opacity: .3;
}
/*main content paragraph */
.hero-content p{
    font-size: 100px;
    margin-left: 12%;
}

/* end of main content code*/

/* Header | Main navbar code */

header{
    padding: 30px 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1{
    font-size: 100px;
}
header nav{
    margin: 7px 0;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 60px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

header a {
    color: white;
    text-decoration: none;
}

/* Project section code */




.my-projects-section h2{
    font-size: 250px;
    margin-left: 38%;
    margin-top: 3%;
    margin-bottom: 3%;
   
    
}
.projects-flex{
    display:flex;
    flex-direction: row;
    flex:0 0 33%;
    

}

.my-projects-flex{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.run-buddy-flex{
    margin: 20px;
    flex: 1;
}

.robot-card-flex{
    margin: 20px;
    flex: 1;
}

.run-buddy-flex img{
    width: 100%;
}

.robot-card-flex img{
    width: 100%;
    height: 50%;
}
article h3{
    font-size: 150px;
    background-color: black;
    
}






