  
/* Universal selector to remove default margin and padding on page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
a{ 
    text-decoration: none;
}

/* Main hero content code */
body{
    background-color: black;
}


/*sets hero section to flex and background color */
.hero-section{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-left: 17%;
    
    
}


/* Ajust Image Size and Margin */
.hero-section img{
    width: 55%;
    margin: 58% auto;
    
    
}
/*Adjust Hero h2 size and margin */
.hero-content h2{
    font-size: 450%;
    margin-bottom: 2%;
    
}
/*Creates underline under main h2 */
.hero-content h2::after{
    content: "";
    display: block;
    border: .5px solid white;
    margin: 0 8%;
    opacity: .3;
}
/*main content paragraph */
.hero-content p{
    font-size: 28px;
    margin-left: 100px;
}

/* end of main content code*/

/* Header | Main navbar code */

header{
    padding: 15px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1{
    font-size: 200%;
    color: white;
}
header nav{
    margin: 7px 0;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

header a {
    color: white;
    text-decoration: none;
}

/* Project section code */



/* Projects heading | heading div code */
.projects-h2{
    width: 100%;
    height: 125px;
    background: rgb(167, 167, 167);
   
}

.projects-h2 h2{
    width: 100%;
    font-size: 68px;
    padding-left: 38%;
    padding-top: 2%;
    color: rgb(43, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.projects-h2 h2::after{
    content: "";
    display: block;
    border: .5px solid rgb(255, 255, 255);
    margin-right: 62%;
    opacity: .3;
}

/* end of projects heading div code */

.flex-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2%;
   
    
    
}

.boxes1{
    flex: 100%;
    background: black;
    margin: 10px;
    margin-bottom: 65px;
    width: 100%;
    height: 400px;
   


}
.boxes{
    flex: 25%;
    background: black;
    margin: 10px;
    margin-bottom: 65px;
    width: 400px;
    height: 350px;

}
.h3divs{
   padding-top: 35%;
    margin-left: -3%;
    width: 100%;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

.h3divsstyle{
    border: 5px solid black;
    background-color: white;
    padding: 5px;
    border-radius: 5%;
    padding-left: 2%;
}


.boxes img{
    width: 100%;
    height: 100%;
}

.my-proj-imgs{
    border: 3px solid black;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.my-projects-section{
    background-color: rgb(192 197 188);
}


.h3divs1{
    padding-top: 12%;
     margin-left: -2%;
     width: 100%;
     font-size: 26px;
     color: rgb(0, 0, 0);
 }

/* Contact me section code */
.contact-me{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.about-me p{
    padding-left: 5%;
    padding-top: 5%;
    font-size: 18px;
    color: white;
}

.about-me h3{
    color: white;
    padding-top: 5%;
    padding-left: 5%;
}

.contact-me ul{
    display: flex;
    justify-content: space-evenly;
}