  
/* Universal selector to remove default margin and padding on page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

/* Main hero content code */



/*sets hero section to flex and background color */
.hero-section{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    
    
}


/* Ajust Image Size and Margin */
.hero-section img{
    width: 55%;
    margin: 58% auto;
    
    
}
/*Adjust Hero h2 size and margin */
.hero-content h2{
    font-size: 450%;
    margin-bottom: 2%;
    
}
/*Creates underline under main h2 */
.hero-content h2::after{
    content: "";
    display: block;
    border: .5px solid white;
    margin: 0 8%;
    opacity: .3;
}
/*main content paragraph */
.hero-content p{
    font-size: 28px;
    margin-left: 100px;
}

/* end of main content code*/

/* Header | Main navbar code */

header{
    padding: 15px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1{
    font-size: 200%;
    color: white;
}
header nav{
    margin: 7px 0;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

header a {
    color: white;
    text-decoration: none;
}

/* Project section code */




.my-projects-section h2{
    font-size: 50px;
    margin-left: 41%;
    margin-top: 2%;
    margin-bottom: 3%;  
}








